<form method="POST" action="/" enctype="multipart/form-data" target="_blank">
    {{ form.hidden_tag() }}
    {{ form.file.label }} {{ form.file(size=20) }}
    {{ form.denoise.label }} {{ form.denoise(size=5) }}
    {{ form.denoise_sigma.label }} {{ form.denoise_sigma(size=5) }}
    {{ form.autohint.label }} {{ form.autohint(size=5) }}
    {{ form.autohint_sigma.label }} {{ form.autohint_sigma(size=5) }}
    {{ form.ignore_gray.label }} {{ form.ignore_gray(size=5) }}
    <input type="submit" value="Colorize">

</form>
